*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(./components/Pics/bg.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
    font-family: 'Roboto', sans-serif;
}

.container h3{
    font-size: 50px;
    color: #ffffff;
    padding: 80px 0 0 22%;
    margin-bottom: -100px;
}

.container span{
    color:  #FCC805;
}

.box{
    color: #ffffff;
    margin: 14% 0 0 25%;
    width: 50%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #ffffff;
    border-radius: 10px;
}

.buttons{
    margin-top: 70px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.buttons button,.start,.sol-btn,.next-btn{
    height: 50px;
    width: 140px;
    background-color: #FCC805;
    border: none;
    outline: none;
    font-size: 17px;
    font-weight: bold;
    color: black;
    border-radius: 8px;
}

.buttons button:hover,.start:hover,.sol-btn:hover,.next-btn:hover{
    cursor: pointer;
    background-color: #CF9898;
    color: #ffffff;
}

/*------------------------------------- Node -----------------------------------*/

.sol-btn{
    position: fixed;
    bottom: 200px;
    right: 550px;
}

.qa{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.qa h2{
    margin-bottom: 30px;
}

.qa h4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e8f280;
}

.next-btn{
    position: fixed;
    bottom: 200px;
    right: 400px;
}